@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic&display=swap');

/*base rule */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Special Gothic", sans-serif;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

p,
li,
a {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.3;
}

/* theme */

:root {
    --main-color: #0062ff;
    --supporting-color: #AFDDFF;
    --font-color: #424242;
    --bg-color: #f7fcff;
    --heading-color: black;
    --h-color: #003b99;
    --white-color: white;
    --para-color: #504e4d;
    --test: #070101;
    --btn-hover-bg-color: blue;
    --btn-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --footer-bg-color: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* layout  */
.container {
    max-width: 128rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

.section-courses .container:first-child,
.section-about .container:first-child,
.section-contact--homepage .container:first-child,
.section-why--choose .container:first-child,
.section-contact .container:first-child,
.section-blog .container:first-child {
    padding: 6.4rem 2.4rem 2.4rem 2.4rem;
}

/*
:is(
.section-courses,
.section-about,
.section-contact--homepage,
.section-why--choose,
.section-contact,
.section-blog  ).container:first-child{
    padding: 6.4rem 0 2.4rem 0;
}

*/


.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem;
}

.grid-four--colns {
    grid-template-columns: repeat(4, 1fr);
}



/* reusable */

.section-common-heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-common-subheading {
    color: var(--heading-color);
    margin: 1rem 0 0 0
}

.section-common--title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.fa-brands {
    padding: 2rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
    color: var(--h-color);
}

.fa-solid {
    padding: 2rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
    color: var(--h-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);

}


/* states */


/* navbar section */
.section-navbar {

    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2.4rem;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;
    /* text-transform: capitalize; */

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            transition: all 0.3s linear;
        }
    }

    & li a:hover:after {
        width: 100%;
    }
}


/* main section */

.main-section .grid {
    align-items: center;
    gap: 6.4rem;

    & .main-subheading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color: var(--h-color);
        font-weight: 700;
    }

    & .main-heading {
        font-size: 5.8rem;
        font-family: "jost";
        color: var(--h-color);
        font-weight: 900;
    }

    & .main-para {
        color: var(--white-color);
        margin: 2rem 0 4rem 0;
    }
}


main {
    background-image: linear-gradient(to right top,
            #3b82f6,
            /* nice blue */
            #60a5fa,
            /* lighter blue */
            #93c5fd,
            /* even lighter */
            #dbeafe,
            /* pale blue */
            #ffffff
            /* pure white */
        );
    position: relative;
}

.main-section--image img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.custom-shape-divider-bottom-1744972660 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1744972660 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1744972660 .shape-fill {
    fill: #FFFFFF;
}


/*  about section */

.section-about .about-div {
    text-align: center;
}

.section-about img {

    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    transition: all 0.3s linear;
}


.about-div img:hover {
    rotate: 360deg;
    background-color: #0062ff;
}

/* courses section */

.section-courses {
    background-color: var(--bg-color);

    & .grid {
        padding: 0 10rem 0 10rem;
    }
}

.section-courses .course-div {
    text-align: center;

}

.section-courses .grid {
    gap: 3.2rem;
}

.section-courses .course-div {
    padding: 3.2rem;
}

.course-div:hover {
    box-shadow: var(--btn-box-shadow)
}

.course-div:nth-child(1) .icon .fa-brands {

    color: #F7DF1E;
    /* JavaScript Yellow */
    background-color: #2D2D2D;
    /* Dark Gray */

}

.course-div:nth-child(2) .icon .fa-brands {
    color: #E44D26;
    /* HTML Orange */
    background-color: #FFF8F0;
    /* Soft Cream */

}

.course-div:nth-child(3) .icon .fa-brands {
    color: #264DE4;
    /* CSS Blue */
    background-color: #E3F2FD;
    /* Very Light Blue */

}

.course-div:nth-child(4) .icon .fa-solid {
    color: #00599C;
    /* C++ Blue */
    background-color: #EEF5FF;
    /* Pale Ice Blue */

}

.course-div:nth-child(5) .icon .fa-brands {
    color: #FFD43B;
    /* Python Yellow */
    background-color: #306998;
    /* Classic Python Blue */


}

.course-div:nth-child(6) .icon .fa-brands {
    color: #D17C27;
    /* Java Coffee Brown */
    background-color: #F5F0E1;
    /* Soft Beige */


}

.course-div:nth-child(7) .icon .fa-brands {
    color: #61DAFB;
    /* React Blue */
    background-color: #0A192F;
    /* Dark Navy */

}


/* why choose section */

/*taclikng the center image*/
.section-why--choose .choose-center--div img {
    width: 40rem;
    height: 65rem;
    border-radius: 4rem;


}

.section-why--choose .choose-center--div,
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.choose-center--div figure::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 50rem;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: -1;

}



.choose-center--div figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 56rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.3rem dashed var(--supporting-color);
    z-index: -2;
}

.choose-center--div figure::before {
    animation: circle 5s linear infinite;

}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }
}

.why-choose--div {
    margin-top: 3.2rem;
}

.section-why--choose .grid {
    gap: 13rem;
}

.section-why--choose .text-align--right .why-choose--div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;

}

.number {
    width: 6rem;
    aspect-ratio: 1;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
    color: var(--main-color);
    background-color: var(--supporting-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* blog section */

.section-blog {

    background-color: var(--bg-color);

    & .grid {
        gap: 4rem;
    }

    & .blog {

        box-shadow: var(--btn-box-shadow);
        transition: all 0.3s linear;

        &:hover {
            scale: 1.1;
        }


        & .blog-content {
            padding: 1.4rem 2.4rem 2.4rem;

            & .blog-date i:first-child {
                padding-right: 0.5rem;
            }
        }

    }

    & img {
        width: 100%;
        height: auto;
    }

    & .blog-date {
        display: flex;
        justify-content: space-between;
        margin-top: 1.6rem;
        font-size: 1.4rem;
    }

    & .fa-solid {
        background-color: transparent;
        padding: 0;
    }

    & .section-common--title {
        margin-top: 0.8rem;
    }
}


/* contact.html section */



& .contact-form {
    margin-right: 2.4rem;
}



.contact-name--email {
    display: flex;
    gap: 7rem;
    margin-bottom: 2.4rem;

    & input {
        width: 20rem;
        height: 2.5rem;
        padding-left: 1rem;
    }
}

.Subject {

    & input {
        width: 47rem;
        height: 2.5rem;
        padding-left: 1rem;
    }
}

.Message {

    & textarea {
        width: 47rem;
        height: 19rem;
        padding-top: 0.5rem;
        padding-left: 1rem;
    }

}

.contact-form .contact {
    padding-bottom: 2rem;
}

input:focus-visible,
textarea:focus-visible {
    outline: 0.1rem solid blue;
}

/*contact home section */
.section-contact--homepage {

    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: var(--btn-box-shadow);
    margin-bottom: 5rem;
    border-radius: 0.2rem;
    padding: 0 3.2rem 0 3.2rem;
    position: relative;
    bottom: -15rem;
    z-index: 1;
    background-color: var(--white-color);

    & .grid {
        align-items: center;
        gap: 6.4rem;
    }

}

.contact-title {
    font-size: 3.8rem;
    line-height: 1.2;
}

.contact-content p {
    margin: 1.2rem 0 2.4rem 0;
}

.section-contact--homepage .contact-image img {
    width: 90%;
    height: auto;
}


/* footer */

footer .grid {
    text-align: right;
}

.footer-1--div {
    text-align: left;
}

footer {
    background-color: var(--footer-bg-color);
    padding-top: 15rem;


    & * {
        color: var(--white-color);
    }
}

.footer-subheading {
    font-size: 2.2rem;
    font-weight: 700;
}

.footer-1--div p {
    margin: 1rem 0 3rem 0;
}

.social-footer--icon i {
    transition: all 0.5s linear;
}

.social-footer--icon i:hover {
    transform: rotate(360deg);
    color: var(--supporting-color);
    background-color: var(--main-color);
}


/* Scroll bar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--supporting-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--heading-color);
}



/* scroll animation and scroll snap */


/*media query section */
/* @media (max-width:1260px) */

@media (width <=1200px) {
    html {
        font-size: 56.25%;
    }

    .main-section img {
        width: 90%;
    }
}

@media (width <=992px) {
    html {
        font-size: 54%;
    }

    :is(.section-about,
        .section-blog,
        .section-courses,
        .section-contact--homepage,
        .section-why--choose) .grid {
        gap: 6.4rem;
    }

    .main-section img {
        width: 90%;
    }

    & .main-section--content {
        order: 2;
    }

    & .main-section--image {
        order: 1;

        & img {
            width: 50%;
        }
    }

}

@media (width <=980px) {

    .main-section {
        height: auto;
        padding-bottom: 5rem;

        .grid-two--cols {
            grid-template-columns: 1fr;
        }
    }

    .section-about .about-div {
        text-align: left;
    }

    .section-why--choose {

        & .choose-left--div {
            order: 2;
        }

        & .choose-right--div {
            order: 3;
        }

        & .choose-center--div {

            order: 1;

            & figure::before {
                width: 0;
                height: 0;
                background-color: transparent;
                padding: 0;
            }

            & figure::after {
                width: 0;
                height: 0;
                background-color: transparent;
                padding: 0;
            }

        }
    }
}


@media(width <=1270px) {

    :is(.section-courses,
        .section-blog) .grid-four--colns {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    }

    footer .grid-four--colns {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        text-align: left;

        & .footer-1--div {
            grid-row: 2/3;
            grid-column: 1/-1;
            margin-top: 6.4rem;
        }
    }
}

@media (width <=768px) {

    .grid-two--cols,
    .grid-three--cols {
        grid-template-columns: 1fr;
    }

    .section-navbar .container {
        display: flex;
        flex-direction: column;

        & .navbar-brand {
            text-align: center;
            margin-bottom: 2.4rem;
        }
    }

    .section-why--choose {

        & img {
            width: 40%;
        }

        & .text-align--right .why-choose--div {


            align-items: start;
            text-align: left;
        }
    }

    .section-contact--homepage .btn {
        display: block;
        text-align: center;
    }

    :is(.section-contact--homepage) .container:first-child {
        padding: 6.4rem 0rem 2.4rem 0rem;
    }


    .section-contact{
         
        & .grid{
            padding-top: 5rem;
        }
    }

    .contact-form {

        width: 40rem;
        margin-bottom: 2.4rem;


        & .contact-name--email {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
        }

        & input {
            width: 100%;
            height: 4rem;
            border: 0.1rem solid grey;
        }

        & textarea {
            width: 100%;
        }


    }

    .contact-map {
        width: 40rem;

        & img {
            width: 100%;
        }
    }
}